@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #070A1A, #171f53);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Russo One";
    font-size: 20px;
    color: #898EAE;
}

.main-w80 {
    width: 80%;
    max-width: 1720px;
}

.menu {
    height: 50px;
}

.menu nav {
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    padding: 15px;
    color: #898EAE;
    transition: transform .8s;
}

.menu li a:hover {
    border-bottom: solid 2px #898EAE;
    transform: scale(1.1);
}

.menu li a:visited {
    color: #898EAE;
}

.menu li a:active {
    color: #c5ccf9;
    border-color: #c5ccf9;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    margin: 50px 0 100px;
}

.main img {
    height: 700px;
    transition: transform .8s;
}

.main img:hover {
    transform: scale(1.1);
}

.main-h1-button {
    width: 800px;
    text-align: right;
}

.main-h1-button h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.main-h1-button h2 {
    font-size: 40px;
    margin: 0 0 15px 0;
}

.main-h1-button p {
    margin: 0;
}

.main-h1-button p a {
    padding: 15px;
    border: solid 1px #AE8F40;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: #AE8F40;
    transition: background-color .5s;
}

.main-h1-button p a:hover {
    background-color: #FFF4D9;
}

.main-h1-button p a:active {
    box-shadow: 0px 0px 15px 2px #FFF4D9;
}

.titles {
    color: #AE8F40;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-top: 100px;
}

.about-me p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.content-skills-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-card {
    background-color: #272B47;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-start-start-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 2px #898EAE;
    transition: box-shadow .8s;
    transition: transform .8s;
}

.skills-card:hover {
    box-shadow: 0px 0px 15px 2px #FFF4D9;
    transform: scale(1.1);
}

.skills-title {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    color: #FFF4D9;
}

.html{
    height: 80px;
}

.css {
    height: 80px;
}

.js {
    height: 70px;
}

.java {
    height: 70px;
}

.python {
    height: 60px;
}

.content-contact-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-card {
    width: 250px;
    height: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #898EAE;
    border-radius: 25px;
    transition: box-shadow .7s;
    transition: transform .7s;
}

.contact-card:hover {
    box-shadow: 0 4px 3px -2px #FFF4D9;
    transform: scale(1.1);
}

.content-contact-image {
    background-color: #272B47;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-contact-image img {
    height: 30px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-contact {
    font-size: 15px;
    margin: 0;
}

.paragraph-contact {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #FFF4D9;
}

.content-projects-card {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card {
    width: 380px;
    height: 280px;
    margin: 20px;
    background-color: #272B47;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform .7s;
}

.project-card:hover {
    transform: scale(1.4);
    background-color: #898EAE;
    color: #272B47;
    box-shadow: 0px 0px 50px 3px #FFF4D9;
}

.footer {
    width: 100%;
    background-color: #272B47;
    color: #FFF4D9;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.initial-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #898eae8c;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 100%;
    padding: 10px;
    text-decoration: none;
}

.initial-back:hover {
    background-color: #c5ccf98c;
}

.initial-back:active {
    background-color: #c5ccf93f;
}

.initial-back i {
    color: #171f53b4;
}

.initial-back:visited {
    color: #898EAE;
}

/* Smartphone */
@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-w80 {
        width: 90%;
    }

    .menu {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .menu ul {
        display: none;
    }

    .menu nav { 
        display: flex;
        justify-content: flex-end;
    }

    .menu-toggle {
        width: 35px;
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: solid 1px transparent;
        color: #898EAE;
    }

    .menu-toggle:hover {
        color: #c5ccf9;
    }
    
    .menu-toggle:active {
        color: #c5ccf991;
    }

    .main {
        height: 600px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main img {
        height: 250px;
    }

    .main-h1-button {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-h1-button h1 {
        text-align: center;
        font-size: 25px;
    }

    .main-h1-button h2 {
        font-size: 25px;
        margin: 0 0 15px 0;
    }

    .main-h1-button p a {
        padding: 10px;
        font-size: 10px;
    }

    .titles {
        font-size: 25px;
        margin-top: 70px;
    }

    .about-me p {
        font-size: 12px;
    }

    .content-skills-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills-card {
        height: 120px;
        width: 120px;
    }

    .skills-title {
        font-size: 10px;
    }

    .html {
        height: 70px;
    }

    .css {
        height: 70px;
    }

    .js {
        height: 50px;
    }

    .java {
        height: 50px;
    }

    .python {
        height: 50px;
    }

    .content-contact-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-projects-card {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .project-card {
        width: 300px;
        height: 200px;
    }

    .project-card h3 {
        font-size: 20px;
    }

    .project-card:hover {
        transform: scale(1.2);
    }

    .footer {
        font-size: 10px;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu {
        height: 40px;
    }

    .menu nav, ul {
        height: 100%;
        font-size: 17px;
    }

    .main {
        height: 500px;
        justify-content: space-between;
    }

    .main img {
        height: 300px;
    }

    .main-h1-button {
        width: 400px;
    }

    .main-h1-button h1 {
        font-size: 25px;
    }

    .main-h1-button h2 {
        font-size: 25px;
    }

    .main-h1-button p a {
        padding: 10px;
        font-size: 10px;
    }

    .titles {
        font-size: 30px;
    }

    .about-me p {
        font-size: 15px;
    }

    .content-skills-card {
        height: 100%;
        justify-content: space-around;
    }

    .skills-card {
        height: 170px;
        width: 170px;
        margin: 15px;
    }

    .skills-title {
        font-size: 17px;
    }
    
    .html {
        height: 60px;
    }

    .css {
        height: 60px;
    }

    .js {
        height: 50px;
    }

    .java {
        height: 60px;
    }

    .python {
        height: 50px;
    }

    .content-contact-card {
        justify-content: space-around;
        align-items: center;
    }

    .content-projects-card {
        justify-content: space-around;
    }

    .project-card {
        width: 350px;
        height: 250px;
    }
    
    .project-card:hover {
        transform: scale(1.3);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1443px) {
    .main img {
        height: 450px;
    }

    .main-h1-button {
        width: 450px;
    }

    .main-h1-button h1 {
        font-size: 30px;
    }
    
    .main-h1-button h2 {
        font-size: 30px;
    }

    .main-h1-button p a {
        padding: 12px;
        font-size: 12px;
    }

    .content-skills-card {
        justify-content: space-around;
    }   

    .skills-card {
        margin: 15px;
    }

    .content-contact-card {
        justify-content: space-around;
    }   

    .contact-card {
        margin: 15px;
    }

    .content-projects-card {
        justify-content: space-around;
    }

    .project-card {
        width: 330px;
        height: 230px;
        margin: 15px;
    }
}